.darkModeComponent {
  background-color: #181a1b;
}

.lightModeComponent {
  background-color: #dbdbdb;
}

.darkModeSecondary {
  background-color: #151718;
}

.lightModeSecondary {
  background-color: #dcdcdc;
}

.darkMode_text {
  color: #b9b3aa;
}

.lightMode_text {
  background-color: #181a1b;
}

.menu-list a, .title, .subtitle, .card, .footer {
  color: #b9b3aa;
}

.menu-list a:hover {
  background-color: #363636;
  color: #f5f5f5;
}

.card {
  background-color: #151718;
}

.card {
  border: solid 1px #272727;
}

.card-footer {
  border-top: solid 1px #272727;
}

.make-footer-sticky {
  min-height: calc(100vh - 168px);
  margin-right: 0;
}

.media-content {
  overflow: hidden;
}
