@import '../../shared';

.darkMode_html {
	background-color: $primary_back_color;
}

.lightMode_html {
	background-color: $invert_primary_back_color;
}

.darkMode_text {
	color: $primary_text_color
}

.lightMode_text {
	background-color: $invert_primary_text_color;
}

.menu-list a, .title, .subtitle, .card, .footer {
	color: $primary_text_color;
}

.menu-list a:hover {
	background-color: $hover_back_color;
	color: $hover_text_color;
}

.footer, .card {
	background-color: $secondary_back_color;
}

.card {
	border: solid 1px $highlight_back_color;
}

.card-footer {
	border-top: solid 1px $highlight_back_color;
}

.make-footer-sticky {
	min-height: calc(100vh - 168px);
}

.media-content {
	overflow: hidden;
}

$breakpoint-tablet: 1440px;
@media (min-width: $breakpoint-tablet) {
	html {
		overflow: hidden; /* Hide scrollbars */
	}
}