@use '../../shared.scss';
html {
  background-color: #181a1b;
  color: #b9b3aa;
}

body {
  color: #b9b3aa;
}

.menu-list a, .menu-label, .title, .subtitle {
  color: #b9b3aa;
}

.menu-list a:hover {
  background-color: #363636;
  color: #f5f5f5;
}

.footer {
  background-color: #151718;
}
