@import '../../shared';

.darkModeComponent {
	background-color: $primary_back_color;
}

.lightModeComponent {
	background-color: $invert_primary_back_color;
}

.darkModeSecondary {
	background-color: $secondary_back_color;
}

.lightModeSecondary {
	background-color: $invert_secondary_back_color;

}

.darkMode_component {
}

.lightMode_html {
}

.lightMode_component {
}

.darkMode_text {
	color: $primary_text_color
}

.lightMode_text {
	background-color: $invert_primary_text_color;
}

.menu-list a, .title, .subtitle, .card, .footer {
	color: $primary_text_color;
}

.menu-list a:hover {
	background-color: $hover_back_color;
	color: $hover_text_color;
}

.card {
	background-color: $secondary_back_color;
}

.card {
	border: solid 1px $highlight_back_color;
}

.card-footer {
	border-top: solid 1px $highlight_back_color;
}

.make-footer-sticky {
	min-height: calc(100vh - 168px);
	margin-right: 0;
}

.media-content {
	overflow: hidden;
}


.minor-text {
	margin-bottom: 0 !important;
}