.darkMode_html {
  background-color: #181a1b;
}

.lightMode_html {
  background-color: #c7d7df;
}

.darkMode_text {
  color: #b9b3aa;
}

.lightMode_text {
  background-color: #b9b3aa;
}

.menu-list a, .title, .subtitle, .card, .footer {
  color: #b9b3aa;
}

.menu-list a:hover {
  background-color: #363636;
  color: #f5f5f5;
}

.footer, .card {
  background-color: #151718;
}

.card {
  border: solid 1px #272727;
}

.card-footer {
  border-top: solid 1px #272727;
}

.make-footer-sticky {
  min-height: calc(100vh - 168px);
}

.media-content {
  overflow: hidden;
}

@media (min-width: 1440px) {
  html {
    overflow: hidden;
    /* Hide scrollbars */
  }
}
