@import '../../../shared';

.navigation {
    padding: 0 10px;
}

.hero {
    margin: 0 0 10px 0;
}

.active {
    background-color: $active_back_color;
    color: $hover_text_color !important;
}

.box {
	color: $primary_text_color;
}

.image {
    margin: auto;
}

.mini-buttons {
    margin-right: 5px;
}